In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

# Paramètres de connexion.
username = "root"
password = "010101"
host = "localhost"
port = 3306
database = "my_dbt_db"

# On créée la connexion vers la base de données.
DATABASE_URI = f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}'
engine = create_engine(DATABASE_URI)

# On créée la base de données si elle n'existe pas.
if not database_exists(engine.url):
    create_database(engine.url)

# On créée un DataFrame pour chaque fichier CSV de la base de données.
liste_tables = ["customers", "items", "orders", "products", "stores", "supplies"]

for table in liste_tables:
   csv_url = f"https://raw.githubusercontent.com/dsteddy/jaffle_shop_data/main/raw_{table}.csv"
   df = pd.read_csv(csv_url)
   # On ajoute les informations de de dataframe à la table dans MySQL.
   df.to_sql(f"raw_{table}", engine, if_exists="replace", index=False)

In [6]:
df

         id                         name  cost  perishable      sku
0   SUP-001  compostable cutlery - knife     7       False  JAF-001
1   SUP-002               cutlery - fork     7       False  JAF-001
2   SUP-003                 serving boat    11       False  JAF-001
3   SUP-004                       napkin     4       False  JAF-001
4   SUP-009                        bread    33        True  JAF-001
..      ...                          ...   ...         ...      ...
60  SUP-005   16oz compostable clear cup    13       False  BEV-005
61  SUP-006   16oz compostable clear lid     4       False  BEV-005
62  SUP-007          biodegradable straw    13       False  BEV-005
63  SUP-028                         kiwi    20        True  BEV-005
64  SUP-029                         lime    13        True  BEV-005

[65 rows x 5 columns]